* {
	--main-color: ;
	--link-color: ;
	--link-hover-color: #c9c9c9;
	--menu-link: #111;
	--menu-link-hover: #dc3545;
	--menu-link-active: #c9c9c9;
}


* {font-family: 'Quicksand', sans-serif; font-size: 17px; }
h1, h2, h3, h4, h5, h5 { font-family: 'Noticia Text', serif; }

.contact-info { font-size: 14px; line-height: 1; color: #fff; -webkit-transition: .25s all ease; transition: .25s all ease; }
.contact-info * {font-size: inherit; }
.contact-info:hover { color: #fff; text-decoration: none; }
.s-btn {width: 33px; height: 33px; display: flex; align-items: center; justify-content: center; -webkit-transition: .25s all ease; transition: .25s all ease; }
.s-btn:hover { color: #fff !important; }

.header {position: fixed; width: 100%; top: 0px; left: 0px; z-index: 111; box-shadow: 0px 0px 6px #000; }
.header-top {background-color: #262626; color: #fff; }
.header-background { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: -1; background-color: #fff; opacity: 1; pointer-events: none; }
.site-header {display: flex; align-items: center; justify-content: space-between; }
.site-menu {list-style: none; padding: 0px; margin: 0px; display: flex; align-items: center; justify-content: flex-end; }
.site-menu > li > a {padding: 30px 10px; color: var(--menu-link); font-weight: 500; line-height: 1; display: inline-block; -webkit-transition: .25s all ease; transition: .25s all ease; }
.site-menu > li:last-child > a {padding-right: 0px; }
.site-menu > li.current-menu-item > a { color: var(--menu-link-active); text-decoration: none; }
.site-menu > li > a:hover { color: var(--menu-link-hover); text-decoration: none; }
.mobile-menu {display: none; }

.scroll-top {position: fixed; bottom: 30px; right: 30px; z-index: 11; }

.footer {background-color: #2b2b2b; color: #fff; }
.footer a {color: #fff; -webkit-transition: .25s all ease; transition: .25s all ease; font-size: inherit; }
.footer a:hover {color: var(--menu-link-hover); text-decoration: none; -webkit-transition: .25s all ease; transition: .25s all ease; }
.footer-top {padding: 30px 0px 50px; }
.footer-bottom {padding: 10px 0px; background: #262626; }
.footer-bottom p {margin-bottom: 0px; font-size: 0.8em; }

.widget-title {font-size: 22px; }